fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
PyJWT
requests
pdfplumber
PyMuPDF
pytesseract
Pillow
python-multipart
google-cloud-bigquery
google-cloud-storage
google-cloud-documentai
groq
google-generativeai
httpx
pydantic
pydantic[email]
python-dotenv
pandas
openpyxl
