gdrive_key.json
venv/
**/__pycache__/
*.pyc
**/node_modules/
.claude/settings.local.json
.env
.env.local
.env*.local
/output/
bq_service_account.json
Log.md
test_data/
output/
start_app.sh
**/dist/
.env.local
Deployment.md
Learning.md